target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.jar
!**/src/test/resources/*.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.project
.classpath
.factorypath

### VS Code ###
.vscode/

### MoMo test config (secret) ###
src/main/resources/momo.properties

### Others ###
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store

# Maven local repo
.m2/
